# ansible.cfg
[defaults]
# Use /tmp as the base for any remaining temp needs
remote_tmp = /tmp
host_key_checking = False
# This is key: it prevents Ansible from trying to gather system info which is the step currently failing
gather_facts = False

[connection]
# Pipelining reduces the number of operations performed on the remote server by executing many modules without a file transfer
pipelining = True